---
layout: layouts/base.njk
---
<div class="page-content container">
  {% if image %}
  <div class="post-single__image">
    <img src="{{ image }}" alt="{{ title }}">
  </div>
  {% endif %}
  <h1>{{ title }}</h1>
  <div class="post-content">
    {{ content | safe }}
  </div>
</div>
