---
layout: layouts/base.njk
---
<article class="post-single container">
  <a href="/" class="post-single__back">← Voltar ao inicio</a>
  <header>
    {% if category %}
    <span class="post-single__category">{{ category }}</span>
    {% endif %}
    <h1>{{ title }}</h1>
    <time class="post-single__date" datetime="{{ date | isoDate }}">
      📅 {{ date | dataGalega }}
    </time>
  </header>
  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
